{% extends "base.html" %} {% block content %}
<!-- Recipe Cards -->
<div class="container recipe-div mt-3">
  <div class="row justify-content-center">
    {% for recipe in recipes %}
    <!-- Card Loop -->
    <div class="col-12 col-md-4">
      <div class="card recipe-card shadow-lg">
        <img
          src="{{ recipe.imageurl }}"
          class="card-img-top recipe-img"
          alt="{{ recipe.name }}"
        />
        <div class="card-body">
          <h5 class="card-title recipe-title">{{recipe.name}}</h5>
          <p class="card-text">{{recipe.description}}</p>
          <a href="#" class="btn cook-button">Cook!</a>
        </div>
      </div>
    </div>
    <!-- Additional Cards... -->
    {% endfor %}
  </div>
</div>
{% endblock %}
