{% extends "base.html" %} {% block content %}
<!-- Recipe Cards -->
<div class="container recipe-div mt-3">
  <div class="row justify-content-center">
    <!-- Card 1 -->
    <div class="col-12 col-md-4">
      <div class="card recipe-card shadow-lg">
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/roast-chicken-recipe-2-66b231ac9a8fb.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*"
          class="card-img-top recipe-img"
          alt="Roasted Chicken"
        />
        <div class="card-body">
          <h5 class="card-title recipe-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn cook-button">Cook!</a>
        </div>
      </div>
    </div>
    <!-- Additional Cards... -->
  </div>
</div>
{% endblock %}
